// In app.scss
@import '_variables';
@import '_mixins';

/****************************** Main Colors ******************************/

$primary-color: #cf89ac;
$secondary-color: #8c6e64;
$tertiary-color: #ceebf0;
$warning-color: #e74c3c;
$success-color: #27ae60;
$error-color: #c0392b;

/****************************** Main Body Styles ******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  background-color: $primary-color;

  h1 {
    font-family: program, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: $tertiary-color
  }
}

.content-container {
  width: 100%;
  height: 100vh;
}
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: black;
}

.material-symbols-outlined {
  color: $primary-color;
  font-size: 2.5em!important;
}

/****************************** Site Header ******************************/

.header-content-right {
  margin-left: auto;
}

.hs-logo {
  width: 150px;
}

/****************************** Other Styles ******************************/
.product-card-images {
  width: 150px;
}
.product-card {
  background-color: #f4f4f4;
  color: $secondary-color;
  padding: 20px;
  border-radius: 5px;
  width: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}